@import 'media-queries';

// Styles for honeymoon activities list

.TravelList {
  width: 100%;
  max-width: 1020px;
  margin: 40px auto;
}
.TravelList .l-box {
  margin: 20px;
}
.TravelList-item {
  position: relative;
  min-width: 320px;
  background: white;
  box-shadow: 0 0 25px 1px rgba(black, 0.1);
}
.TravelList-itemImage {
  width: 100%;
  height: 187px;
  background: #D8D8D8;
  overflow: hidden;
}
.TravelList-itemInfo {
  display: block;
  padding: 20px;
  text-align: left;
}
.TravelList-itemFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #EEEEEE;
  text-align: left;
}
.TravelList-itemFooter > * {
  padding: 14px 20px;
}
.TravelList-itemCost {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 4px 10px;
  font-weight: bold!important;
  font-family: 'Lato';
  font-size: 14px;
  border: 2px solid white;
  border-radius: 20px;
  background: rgba(black, 0.3);
  z-index: 10;
}
.TravelList-itemTitle {
  font-weight: bold;
  font-family: 'Lato';
  text-transform: uppercase;
}
.TravelList-itemDesc {
  font-size: 14px;
  font-family: 'Lato';
  line-height: 22px;
  color: #666666;
}
.TravelList-itemLink {
  flex: 1;
  border-left: 1px solid #EEEEEE;
}
.TravelList-itemWikipedia {
  flex: 1;
  border-left: 1px solid #EEEEEE;
}
.TravelList-itemLink,
.TravelList-itemWikipedia {
  color: #999;
  &:hover {
    color: #676767;
  }
}
.TravelList-itemType {
  flex: 10;
  color: #999;
  text-transform: capitalize;
  font-size: 14px;
}
.TravelList-sponsorList {
  display: flex;
  justify-content: center;
  align-items: center;
}