// Style for animations

.Animation {
  // Parent class
}
.Animation.is-visible {
  // How to make it visible
}

// - BUBBLE!
.Animation-comment {
  position: absolute;
  left: 52%;
  top: -30px;
  padding: 10px;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 18px;
  background: rgba(white, 0.8);
  border-radius: 5px;
  opacity: 0;
  transition: all 400ms ease-in-out;
}
.Animation-commentColorYellowish {
  color: #E3AA45;
}
.Animation-commentColorGreenish {
  color: #75A068;
}
.Animation-comment:after {
  content: '';
  position: absolute;
  left: 20px;
  top: 100%;
  width: 0;
  border-style: solid;
  border-width: 0 0 6px 8px;
  border-color: transparent rgba(white, 0.8);
  z-index: 0;
}
.Animation-comment--right {
  left: auto;
  right: 52%;
}
.Animation-comment--right:after {
  left: auto;
  right: 20px;
  transform: rotateY(180deg);
}
.Animation.is-visible .Animation-comment {
  top: -50px;
  opacity: 1;
}

// - Bus!
.Animation-busRoad {
  position: absolute;
  bottom: 0;
  transform: translateX(300px);
  width: 10px;
  height: 1px;
  opacity: 0;
  background: rgba(#FFF, 0.5);
}
.Animation.is-visible {
  .Animation-bus {
    animation: bounce 100ms infinite alternate;
  }
  .Animation-busRoad {
    animation: road 1.5s ease-out infinite;
  }
}

@keyframes road{
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  50% {
    opacity:1;
  }
  100% {
    transform: translateX(80px);
    opacity:0;
  }
}

@keyframes bounce{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-1%);
  }
}

// - Sleep!
.Animation-z {
  position: absolute;
  color: rgba(#FFF, 0.8);
  font-family: arial;
  font-size: 0;
  font-weight: bold;
}

// - Plane!
.Animation-planeWrapper {
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -40px;
  opacity: 0;
  animation: takingOff 1s 1 linear;
}
.Animation-plane {
  font-size: 15px;
  transform: rotate(-45deg);
}
.Animation.is-visible {
  .Animation-planeWrapper {
    opacity: 1;
    top: 20px;
    margin-left: -5px;
    animation: circleRotation 3s infinite linear;
  }
  .Animation-plane {
    animation: planeRotation 3s infinite linear;
  }
}

@keyframes takingOff {
  from {
    opacity: 0;
    transform: scale(0);
    top: 60px;
  }
  to {
    opacity: 1;
    transform: scale(1);
    top: 20px;
  }
}

@keyframes circleRotation {
  from {
    transform: rotate(0deg) translate(-35px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-35px) rotate(-360deg);
  }
}

@keyframes planeRotation {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(315deg);
  }
}