@import 'media-queries';

// Styles for all buttons

$primary-color: #1abc9c;
$disabled-color: #bdc3c7;
$success-color: #2ecc71;
$alternative-color: #415B76;
$error-color: #E74C3C;
$border-radius: 6px;

.Button {
  display: inline-block;
  padding: 10px 19px;
  line-height: 19px;
  border-radius: $border-radius;
  border: none;
  font-family: 'Lato';
  font-size: 17px;
  font-weight: bold;
  outline: none;
}
.Button--primary {
  background: $primary-color;
  color: white;
  &:hover,
  &:focus {
    cursor: pointer;
    background: darken($primary-color, 5);
  }
}
.Button--disabled {
  background: $disabled-color;
  color: rgba(white, 0.75);
  &:hover,
  &:focus  {
    cursor: default;
  }
}
.Button--success {
  background: $success-color;
  color: white;
  &:hover,
  &:focus  {
    cursor: default;
  }
}
.Button--error {
  background: $error-color;
  color: white;
  &:hover,
  &:focus  {
    cursor: pointer;
    background: darken($error-color, 5);
  }
}
.Button--withIcon {
  padding: 7px 12px;
  background: $alternative-color;
  color: white;
  font-size: 14px;
  &:hover,
  &:focus  {
    background: darken($alternative-color, 10);
  }
}
.Button--withIcon.has-errors {
  background: $error-color;
  &:hover,
  &:focus  {
    background: darken($error-color, 10);
  }
}