// Body canvas styles

.Canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.Canvas-inner {
  position: relative;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all .2s ease;
}
.Canvas-inner.is-menu-visible {
  right: 200px;
  transition: all .2s ease;
}