// Colors stylesheet

.Color {
  color: white;
}
.Color--main {
  color: #97BDBB;
}
.Color--dark {
  color: #4A4A4A;
}
.Color--primary {
  color: #1abc9c;
}
.Color--alternative {
  color: #34495e;
}
.Color--linkAlternative {
  color: inherit;
  text-decoration: underline;
}