// Contact slide stylesheet

.Contact {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.Contact-block {
  display: block;
  position: relative;
  max-width: 420px;
  margin: 20px 0;
  padding: 6px;
  background: #EFEFEF;
  border-radius: 4px;
  text-align: left;
}
.Contact-blockTitle {
  position: absolute;
  top: -25px;
  left: 10px;
  color: #34495e;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 18px;
  text-transform: uppercase;
}
.Contact-input--large + .select2-container {
  width: 100%!important;
}
.Contact-attendeeName {
  flex: 6;
}
.Contact-attendeeAllergy {
  flex: 4;

  .select2-container--default .select2-selection--single {
    min-width: 160px;
    width: 160px;
  }
}
.Contact-attendeeRemove {
  position: absolute;
  top: 12px;
  right: -25px;
  color: rgba(#E74C3C, 0.5);
  &:hover {
    cursor: pointer;
    color: rgba(#E74C3C, 1);
  }
}