@import 'media-queries';

// Styles for all form things
$input-main-color: #C4C4C4;
$input-main-focus-color: #1abc9c;
$border-radius: 6px;
$button-color: #C37D9C;
$error-color: #e74c3c;

.Form {
  margin: 0 auto;
}
.Form-fieldset {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Form-field {
  position: relative;
  width: 100%;
}
.Form-input {
  display: inline-block;
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  line-height: 22px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 300;
  color: #34495e;
  letter-spacing: 0px;
  outline: none;
  border-radius: $border-radius;
  border: 2px solid $input-main-color;
  -webkit-appearance: none;
  resize: none;
}
.Form-input--m {
  width: 195px;
}
.Form-input:focus {
  border-color: $input-main-focus-color;
}
.Form-input:disabled {
  border-color: $input-main-color;
  background: rgba($input-main-color, 0.1);
}
.Form-input.has-errors {
  color: $error-color;
  border-color: $error-color;
}
.Form-input::-webkit-input-placeholder {
  color: rgba($input-main-color, 0.8);
}
.Form-input::-moz-placeholder {
  color: rgba($input-main-color, 0.8);
}
.Form-input:-ms-input-placeholder {
  color: rgba($input-main-color, 0.8);
}
.Form-input:-moz-placeholder {
  color: rgba($input-main-color, 0.8);
}
.Form-input--withSubmit {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
.Form-submit {
  min-width: 195px;
}
