// Helpers classes

.u-tSpace {
  margin-top: 2px;
}
.u-tSpace--m {
  margin-top: 6px;
}
.u-tSpace--l {
  margin-top: 10px;
}
.u-tSpace--xl {
  margin-top: 14px;
}
.u-tSpace--xxl {
  margin-top: 28px;
}
.u-tSpace--xxxl {
  margin-top: 42px;
}
.u-rSpace {
  margin-right: 2px;
}
.u-rSpace--m {
  margin-right: 6px;
}
.u-rSpace--l {
  margin-right: 10px;
}
.u-rSpace--xl {
  margin-right: 14px;
}
.u-rSpace--xxl {
  margin-right: 28px;
}
.u-rSpace--xxxl {
  margin-right: 42px;
}
.u-lSpace {
  margin-left: 2px;
}
.u-lSpace-m {
  margin-left: 6px;
}
.u-lSpace-l {
  margin-left: 10px;
}
.u-lSpace--xl {
  margin-left: 14px;
}
.u-lSpace--xxl {
  margin-left: 28px;
}
.u-lSpace--xxxl {
  margin-left: 42px;
}