// Navigation styles, taken from flickity
.flickity-page-dots {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.flickity-page-dots {
  position: fixed;
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.dot {
  position: relative;
  width: 9px;
  height: 9px;
  margin: 0 3px;
  padding: 0;
  border: 1px solid rgba(#FFF, 0.60);
  border-radius: 8px;
  background: none;
  text-indent: -9999px;
  outline: none;
  &:hover {
    background: white;
    border-color: white;
    cursor: pointer;
  }
}
.dot.is-selected {
  width: 13px;
  height: 13px;
  margin-top: -2px;
  background: white;
  border-color: white;
  &:hover {
    cursor: normal;
  }
}