@import 'media-queries';

// Navigation styles, taken from flickity

.Navigation-menu {
  position: absolute;
  right: 8px;
  bottom: 8px;
  z-index: 11;
}
.Navigation-menuButton {
  background: none;
  border: none;
  outline: none;
  color: rgba(black, 0.5);

  &:hover {
    color: rgba(black, 0.8);
  }
}
.Navigation-menuDropdown {
  position: absolute;
  display: none;
  bottom: 30px;
  right: -8px;
  width: 120px;
  padding: 10px 20px;
  background: rgba(black, 0.6);
  border-bottom: 1px solid rgba(black, 0.1);
}
.Navigation-menuDropdown.is-visible {
  display: block;
}
.Navigation-menuDropdownItem {
  padding: 3px 0;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 18px;
  color: rgba(white, 0.7);
  text-decoration: none;
  text-transform: capitalize;
  &:hover {
    color: rgba(white, 0.9);
    text-decoration: underline;
  }
}

.flickity-page-dots {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  transform: translateX(-50%);
  background: rgba(black, 0.2);
  z-index: 10;
}
.dot {
  position: relative;
  width: 11px;
  height: 11px;
  margin: 0 3px;
  padding: 0;
  border: none;
  border-radius: 8px;
  background: rgba(#000, 0.1);
  text-indent: 0;
  border: 1px solid rgba(black, 0.2);
  outline: none;
  &:hover {
    background: white;
    cursor: pointer;
  }
}
.dot:hover,
.dot.is-selected {
  width: 15px;
  height: 15px;
  margin-top: 0px;
  margin: 0 1px;
  background: white;
  border-color: white;
  border: 1px solid rgba(black, 0.4);
  &:hover {
    cursor: normal;
  }
}

.Navigation-menu.is-light {
  .Navigation-menuDropdown {
    background: rgba(white, 0.9);
    border-bottom: none;
    border-left: 1px solid rgba(black, 0.1);
    border-top: 1px solid rgba(black, 0.1);
  }
  .Navigation-menuDropdownItem {
    color: rgba(black, 0.6);
  }
}
.flickity-page-dots.is-light {
  background: rgba(white, 0.9);
  border-top: 1px solid rgba(black, 0.1);
}

@mixin mobile-content() {
  .flickity-page-dots {
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
  }
}

@include screen(0, 450px) {
  @include mobile-content();
}
@include screen-height(320px, 480px) {
  @include mobile-content();
}