@import 'media-queries';

// Slides stylesheet

.flickity-viewport,
.flickity-slider {
  position: relative;
  height: 100%;
}

.Slides {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.Slide {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: auto
}
.Slide-content {
  margin: auto;
}
.Slide-content--centered {
  text-align: center;
}
.Slide-contentItem {
  width: 100%;
}
.Slide-title {
  display: inline-block;
}
.Slide-icon {
  margin: 0!important;
  border: none!important;
  background: none!important;
  box-shadow: none!important;
  font-size: 50px;
  line-height: 53px;
}
.Slide-contentParagraph {
  max-width: 400px;
  text-align: left;
}
.Slide-content--centered .Slide-contentParagraph {
  margin-left: auto;
  margin-right: auto;
}

@include screen(0, 450px) {
  .Slide-contentParagraph {
    max-width: 85%;
  }
}