// Texts stylesheet

.Text-title {
  font-family: 'Blanch Inline';
  font-size: 80px;
  line-height: 85px;
  text-decoration: uppercase;
}
.Text-subTitle {
  font-size: 30px;
  opacity: 0.5;
}
.Text-paragraph {
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 25px;
  opacity: 0.86;
}
.Text-highlight {
  padding: 10px 30px 18px;
  font-family: 'Pacifico';
  font-size: 32px;
  line-height: 40px;
  background: white;
  border-radius: 8px;
}
.Text-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}