@import 'media-queries';

// Texts stylesheet

.Text {
  letter-spacing: 0;
}
.Text-title {
  position: relative;
  font-family: 'Blanch Inline';
  font-size: 60px;
  font-weight: normal;
  line-height: 55px;
  text-transform: uppercase;
}
.Text-subTitle {
  position: absolute;
  top: -10px;
  left: 100%;
  margin-left: 5px;
  font-size: 32px;
  opacity: 0.5;
}
.Text-paragraph {
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 28px;
  opacity: 0.86;
}
.Text-highlight {
  padding: 10px 30px 18px;
  font-family: 'Pacifico';
  font-size: 32px;
  line-height: 40px;
  background: white;
  border-radius: 8px;
}
.Text-link {
  text-decoration: none;
  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

@include screen(0, 450px) {
  .Text-title {
    font-size: 45px;
    font-weight: normal;
    line-height: 35px;
  }
  .Text-subTitle {
    font-size: 30px;
  }
  .Text-highlight {
    font-size: 25px;
    line-height: 35px;
  }
  .Text-paragraph {
    font-size: 16px;
    line-height: 25px;
  }
}