.TravelList {
  width: 100%;
  margin: 40px auto; }

.TravelList .l-box {
  margin: 20px; }

.TravelList-item {
  position: relative;
  min-width: 320px;
  background: white;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.1); }

.TravelList-itemImage {
  width: 100%;
  height: 187px;
  background: #D8D8D8;
  overflow: hidden; }

.TravelList-itemInfo {
  display: block;
  padding: 20px;
  text-align: left; }

.TravelList-itemFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #EEEEEE;
  text-align: left; }

.TravelList-itemFooter > * {
  padding: 15px 20px; }

.TravelList-itemCost {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10; }

.TravelList-itemLink {
  flex: 1;
  border-left: 1px solid #EEEEEE; }

.TravelList-itemWikipedia {
  flex: 1;
  border-left: 1px solid #EEEEEE; }

.TravelList-itemType {
  flex: 10; }

.TravelList-sponsorList {
  display: flex;
  justify-content: center;
  align-items: center; }


.Color {
  color: white; }

.Color--main {
  color: #97BDBB; }

.Color--dark {
  color: #4A4A4A; }


html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; }


@charset "UTF-8";
@font-face {
  font-family: 'Pacifico';
  src: url("../fonts/Pacifico.eot");
  src: local("☺"), url("../fonts/Pacifico.woff") format("woff"), url("../fonts/Pacifico.ttf") format("truetype"), url("../fonts/Pacifico.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Blanch Inline';
  src: url("../fonts/BLANCH_CAPS_INLINE.eot");
  src: local("☺"), url("../fonts/BLANCH_CAPS_INLINE.woff") format("woff"), url("../fonts/BLANCH_CAPS_INLINE.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Blanch';
  src: url("../fonts/BLANCH_CAPS.eot");
  src: local("☺"), url("../fonts/BLANCH_CAPS.woff") format("woff"), url("../fonts/BLANCH_CAPS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Blanch Light';
  src: url("../fonts/BLANCH_CAPS_LIGHT.eot");
  src: local("☺"), url("../fonts/BLANCH_CAPS_LIGHT.woff") format("woff"), url("../fonts/BLANCH_CAPS_LIGHT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }


.u-tSpace {
  margin-top: 2px; }

.u-tSpace--xl {
  margin-top: 14px; }

.u-tSpace--xxl {
  margin-top: 28px; }

.u-tSpace--xxxl {
  margin-top: 42px; }

.u-rSpace {
  margin-right: 2px; }

.u-rSpace-m {
  margin-right: 6px; }

.u-rSpace-l {
  margin-right: 10px; }

.u-rSpace--xl {
  margin-right: 14px; }

.u-rSpace--xxl {
  margin-right: 28px; }

.u-rSpace--xxxl {
  margin-right: 42px; }

.u-lSpace {
  margin-left: 2px; }

.u-lSpace-m {
  margin-left: 6px; }

.u-lSpace-l {
  margin-left: 10px; }

.u-lSpace--xl {
  margin-left: 14px; }

.u-lSpace--xxl {
  margin-left: 28px; }

.u-lSpace--xxxl {
  margin-left: 42px; }


@media only screen {
  #a {
    background: url(data:image/png;base64,{96_dpi_encoded_image}); } }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #a {
    background: url(data:image/png;base64,{192_dpi_encoded_image}); } }


.ItemsForm {
  margin-top: 20px;
  text-align: center; }

.List {
  display: flex;
  margin-top: 30px; }

.List--horizontal {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 620px; }

.List--vertical {
  flex-direction: column; }

.HotelList-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: 'Lato';
  text-align: center; }

.HotelList-item > *:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: white;
  text-decoration: normal; }

.HotelList-item > *:last-child:after {
  content: '';
  display: none; }

.RouteList-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  opacity: 0.65; }

.RouteList-itemPoint {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid white;
  border-radius: 12px; }

.RouteList-item:before,
.RouteList-item:after {
  content: '';
  position: absolute;
  top: 62px;
  height: 1px;
  background: white; }

.RouteList-item:before {
  right: calc(50% + 7px);
  left: 0; }

.RouteList-item:after {
  left: calc(50% + 7px);
  right: 0; }

.RouteList-itemTime {
  margin: 15px 0;
  font-family: 'Lato';
  font-size: 14px;
  line-height: 25px;
  border-radius: 4px;
  color: white; }

.RouteList-itemName {
  margin-top: 10px;
  font-family: 'Lato';
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 18px;
  color: white;
  text-transform: uppercase; }

.RouteList-item.is-selected {
  opacity: 1; }
  .RouteList-item.is-selected:before, .RouteList-item.is-selected:after {
    opacity: 0.65; }
  .RouteList-item.is-selected .RouteList-itemPoint {
    background: white; }
  .RouteList-item.is-selected .RouteList-itemTime {
    margin: 12px 0 13px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.3);
    background: white; }
  .RouteList-item.is-selected .RouteList-itemName {
    font-size: 14px;
    font-weight: bold; }

@media only screen and (min-width: 0) and (max-width: 450px) {
  .RouteForm-select {
    max-width: 280px;
    margin-top: 20px;
    text-align: center;
    text-align-last: center; }
  .RouteList {
    width: 100%;
    margin-top: 10px; }
  .RouteList-itemName {
    font-size: 10px; }
  .RouteList-itemTime {
    padding: 0 8px;
    font-size: 11px; }
  .RouteList-item.is-selected .RouteList-itemTime {
    padding: 0 8px;
    font-size: 11px; }
  .RouteList-item.is-selected .RouteList-itemName {
    font-size: 12px; } }

@media only screen and (min-height: 320px) and (max-height: 480px) {
  .RouteForm-select {
    max-width: 280px;
    margin-top: 20px;
    text-align: center;
    text-align-last: center; }
  .RouteList {
    width: 100%;
    margin-top: 10px; }
  .RouteList-itemName {
    font-size: 10px; }
  .RouteList-itemTime {
    padding: 0 8px;
    font-size: 11px; }
  .RouteList-item.is-selected .RouteList-itemTime {
    padding: 0 8px;
    font-size: 11px; }
  .RouteList-item.is-selected .RouteList-itemName {
    font-size: 12px; } }


.flickity-page-dots {
  position: fixed;
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; }

.dot {
  position: relative;
  width: 11px;
  height: 11px;
  margin: 0 3px;
  padding: 0;
  border: none;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.1);
  text-indent: -9999px;
  outline: none; }
  .dot:hover {
    background: white;
    border-color: white;
    cursor: pointer; }

.dot.is-selected {
  width: 15px;
  height: 15px;
  margin-top: -2px;
  background: white;
  border-color: white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5); }
  .dot.is-selected:hover {
    cursor: normal; }

@media only screen and (min-width: 0) and (max-width: 450px) {
  .flickity-page-dots {
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.1); } }

@media only screen and (min-height: 320px) and (max-height: 480px) {
  .flickity-page-dots {
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.1); } }


.flickity-viewport,
.flickity-slider {
  position: relative;
  height: 100%; }

.Slides {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.Slide {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: auto; }

.Slide-content {
  margin: auto; }

.Slide-content--centered {
  text-align: center; }

.Slide-contentItem {
  width: 100%; }

.Slide-title {
  display: inline-block; }

.Slide-icon {
  margin: 0 !important;
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  font-size: 50px;
  line-height: 53px; }

.Slide-contentParagraph {
  max-width: 400px; }

.Slide-content--centered .Slide-contentParagraph {
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 0) and (max-width: 450px) {
  .Slide-contentParagraph {
    max-width: 85%; } }


.Text {
  letter-spacing: 0; }

.Text-title {
  position: relative;
  font-family: 'Blanch Inline';
  font-size: 60px;
  font-weight: normal;
  line-height: 55px;
  text-transform: uppercase; }

.Text-subTitle {
  position: absolute;
  top: -10px;
  left: 100%;
  margin-left: 5px;
  font-size: 32px;
  opacity: 0.5; }

.Text-paragraph {
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 28px;
  opacity: 0.86; }

.Text-highlight {
  padding: 10px 30px 18px;
  font-family: 'Pacifico';
  font-size: 32px;
  line-height: 40px;
  background: white;
  border-radius: 8px; }

.Text-link {
  text-decoration: none; }
  .Text-link:hover {
    opacity: 1;
    text-decoration: underline; }

@media only screen and (min-width: 0) and (max-width: 450px) {
  .Text-title {
    font-size: 45px;
    font-weight: normal;
    line-height: 35px; }
  .Text-subTitle {
    font-size: 30px; }
  .Text-highlight {
    font-size: 25px;
    line-height: 35px; }
  .Text-paragraph {
    font-size: 16px;
    line-height: 25px; } }



/*# sourceMappingURL=app.css.map*/