<input type="text" name="name" value="{{name}}" class="Form-input js-name" placeholder="Placeholder">
<select class="js-allergy" name="allergy">
  <option></option>
  <option></option>
  <option></option>
  <option></option>
  <option></option>
</select>
<i class="fa fa-trash js-remove"></i>