<div class="Slide-content Slide-content--centered js-content">
  <div class="Slide-contentItem">
    <i class="Slide-icon Color Color--dark fa fa-paper-plane-o fa-lg"></i>
  </div>
  <h2 class="Color Color--dark Text-title Slide-title">{{ t 'contact.title' }}</h2>
  <p class="Slide-contentParagraph Text Color Color--dark Text-paragraph u-tSpace--xxxl">{{ t 'contact.desc' }}</p>
</div>