/*
 *  Vars for styles
 */

$thecolor: #8AAFB7;
$lightBlue: #D0E2E6;
$darkBlue: #314C96;
$redColor: #BD3E40;
$pinkColor: #C37D9C;
$creamColor: #F4EAE1;
$darkGrey: #8E8F8F;
$lightGrey: #CECECE;
$grey: #AAA;

$maxWidth: 768px;