
.Block {
	position: relative;
}
.Block--centered {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Block--wider {
	width: 70%;
}
.Block--full {
	width: 100%;
}
.Block--splittedVer {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.Block--splittedHor {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.Block--splittedChild {
	position: relative;
	flex: 1;
	height: 100%;
}