* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html, body {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx) {
	-webkit-font-smoothing: subpixel-antialiased;
}