@import 'vars';
$borderRadius: 3px;

.Form {
	display: flex;
	flex-direction: column;
	width: 300px;
	font-family: 'Lato';
}
.Form-textInput {
	padding: 8px 10px;
	border: 1px solid $lightGrey;
	border-radius: $borderRadius;
	font-size: 14px;
	color: $darkGrey;
	outline: none;
}
.Form-textarea {
	max-height: 130px;
	min-height: 60px;
	padding: 8px 10px;
	border: 1px solid $lightGrey;
	border-radius: $borderRadius;
	font-size: 14px;
	color: $darkGrey;
	resize: vertical;
	outline: none;
}
.Form-textInput:focus,
.Form-textarea:focus {
	border-color: $darkGrey;
	box-shadow: 0 0 3px $lightGrey;
}

$form-types: Form-textarea Form-textInput;
$placeholder-types: -moz-placeholder -webkit-input-placeholder -ms-input-placeholder;

@each $form-type in $form-types {
	@each $placeholder-type in $placeholder-types {
	  .#{$form-type}::#{$placeholder-type} {
	    color: $grey;
	  }
	}
}

.Form-textInput.is-disabled,
.Form-textarea.is-disabled {
	background: #EEE;
}

.Form-textInput.has-errors,
.Form-textarea.has-errors {
	color: $redColor;
	border-color: rgba($redColor, 0.5);
	&:focus {
		border-color: rgba($redColor, 1);
	}
}