@import 'vars';

$labelBkg: rgba(black, 0.5);

.Map {
  position: relative;
  width: 100%;
  border: 0;
  outline: none;
  overflow: hidden;
}
.Map iframe {
  border: none;
}
.Map--big {
  height: 425px;
}
.Map-label {
  position: absolute;
  bottom: 35px;
  right: calc(50% - 380px);
  text-align: right;
  z-index: 1;
}
.Map-labelTitle {
  display: block;
  padding: 6px 20px;
  line-height: 42px;
  background: $labelBkg;
}
.Map-labelDesc {
  display: inline-block;
  padding: 6px 20px;
  background: $labelBkg;
}