/**
 *  Text classes for the whole web
 */

.Text {
  font-family: 'Lato';
  font-weight: normal;
}
.Text--giant {
  font-size: 38px;
}
.Text--huge {
  font-size: 30px;
}
.Text--big {
  font-size: 22px;
}
.Text--large {
  font-size: 18px;
  line-height: 26px;
}
.Text--med {
  font-size: 14px;
}
.Text--small {
  font-size: 10px;
}
.Text--strong {
  font-weight: bold;
}
.Text--uppercase {
  text-transform: uppercase;
}
.Text--italic {
  font-style: italic;
}