@import 'vars';

.Text {}
.Text--bigTitle {
	font-family: 'Blanch Inline';
	font-size: 100px;
	font-weight: normal;
	margin-top: -20px;
}
.Text--title {}
.Text--subTitle {
	font-family: 'Pacifico';
	font-size: 40px;
	font-weight: normal;
}
.Text--paragraph {
	font-family: 'Lato';
	font-size: 21px;
	font-weight: normal;
	line-height: 32px;
}
.Text--paragraphStrong {
	font-size: 26px;
	font-family: 'Pacifico';
	font-weight: normal;
}
.Text--annotation {
	font-family: 'Lato';
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
}
.Text--logo {
	font-family: 'Blanch Inline';
	font-size: 90px;
	font-weight: normal;
	text-decoration: none;
	color: #8E8F8F;
	vertical-align: center;
}
.Text--logoHeart {
	font-family: Arial;
	font-size: 40px;
	font-style: normal;
	vertical-align: middle;
}
.Text--option {
	font-family: 'Blanch';
	font-size: 25px;
	font-weight: normal;
}
.Text--link {
	font-family: 'Blanch';
	text-decoration: none;
	font-size: 30px;
}
.Text--link.is-selected {
	color: $pinkColor;
}
.Text--centered {
	text-align: center;
}

.Color--darkGrey {
	color: $darkGrey;
}
.Color--grey {
	color: $grey;
}
.Color--lightGrey {
	color: $lightGrey;
}
.Color--blue {
	color: $thecolor;
}
.Color--pink {
	color: $pinkColor;
}
.Color--white {
	color: white;
}