.tSpace {
	margin-top: 5px;
}
.tSpace--m {
	margin-top: 10px;
}
.tSpace--l {
	margin-top: 20px;
}
.tSpace--xl {
	margin-top: 30px;
}
.rSpace {
	margin-right: 5px;
}
.rSpace--m {
	margin-right: 10px;
}
.rSpace--l {
	margin-right: 20px;
}
.rSpace--xl {
	margin-right: 30px;
}