/**
 *  Util classes
 */

.u-hidden {
	display: none;
}
.u-tSpace {
	margin-top: 5px;
}
.u-tSpace--m {
	margin-top: 10px;
}
.u-tSpace--l {
	margin-top: 20px;
}
.u-tSpace--xl {
	margin-top: 30px;
}
.u-tSpace--xxl {
	margin-top: 40px;
}
.u-rSpace {
	margin-right: 5px;
}
.u-rSpace--m {
	margin-right: 10px;
}
.u-rSpace--l {
	margin-right: 20px;
}
.u-rSpace--xl {
	margin-right: 30px;
}