---
layout: default
---

{% include header.html %}

<section class="Slide Slide--blue">
  <div class="Slide-content Block--centered">
    <h2 class="Text--bigTitle Color--white">Javier + Laura</h2>
    <h3 class="Slide-contentBox Text--subTitle Color--blue">{% t date %}</h3>
  </div>
</section>

<section class="Slide" id="{% t section.what %}">
  <div class="Slide-content Block--centered Text--centered">
    <h3 class="Text--subTitle Color--darkGrey">{% t what.title %}</h3>
    <p class="Text--paragraph Color--grey">{% t what.description %}</p>
  </div>
</section>

<section class="Slide Slide--cream" id="{% t section.ceremony %}">
  <div class="Slide-content Block--splitted">
    <div class="Block--splittedChild">
      <div class="Map-wrapper Map-wrapper--toLeft Block--centered Block--wider">
        <div class="Map js-churchMap"></div>
      </div>
    </div>
    <div class="Block--splittedChild">
      <div class="Block--centered Block--wider">
        <h3 class="Text--bigTitle Color--darkGrey">{% t section.ceremony %}</h3>
        <p class="Text--paragraph Color--grey">{% t ceremony.description %}</p>
        <p class="Text--paragraph Color--grey tSpace">{% t ceremony.address %}</p>
        <p class="Text--annotation Color--grey tSpace--l">
          <super>*</super>{% t ceremony.annotation %}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="Slide" id="{% t section.banquet %}">
  <div class="Slide-content Block--splitted">
    <div class="Block--splittedChild">
      <div class="Block--centered Block--wider">
        <h3 class="Text--bigTitle Color--darkGrey">{% t section.banquet %}</h3>
        <p class="Text--paragraph Color--grey">{% t banquet.description %}</p>
        <p class="Text--paragraph Color--grey tSpace">{% t banquet.address %}</p>
        <p class="Text--annotation Color--grey tSpace--l"><super>*</super>{% t banquet.annotation %}</p>
      </div>
    </div>
    <div class="Block--splittedChild">
      <div class="Map-wrapper Map-wrapper--toRight Block--centered Block--wider">
        <div class="Map js-banquetMap"></div>
      </div>
    </div>
  </div>
</section>

<section class="Slide Slide--grey" id="{% t section.accomodation %}">
  <div class="Slide-content Block--splitted">
    <div class="Block--splittedChild">
      <div class="Block--centered Block--wider">
        <h3 class="Text--subTitle Color--darkGrey">Camping del Escorial</h3>
        <p class="Text--paragraph Color--grey"></p>
        <p class="Text--paragraph Color--grey tSpace"></p>
        <p class="Text--annotation Color--grey tSpace--l"><super>*</super>{% t banquet.annotation %}</p>
      </div>
    </div>
    <div class="Block--splittedChild">
      <div class="Block--centered Block--wider">
        <h3 class="Text--subTitle Color--darkGrey">Hotel Las Rozas</h3>
        <p class="Text--paragraph Color--grey"></p>
        <p class="Text--paragraph Color--grey tSpace"></p>
        <p class="Text--annotation Color--grey tSpace--l"><super>*</super>{% t banquet.annotation %}</p>
      </div>
    </div>
  </div>
</section>

<button class="Nav-goDown js-goNext">
  <i class="fa fa-arrow-down fa-2x"></i>
</button>

{% include footer.html %}

<!-- build:js(app) /js/home.js -->
<!-- Custom JS -->
<script src="/_assets/js/vendor/jquery.js"></script>
<script src="/_assets/js/vendor/leaflet.js"></script>
<script src="/_assets/js/church-to-banquet-route.js"></script>
<script src="/_assets/js/home.js"></script>
<!-- endbuild -->