---
layout: default
---

{% include header.html %}

<section class="Slide Slide--lightBlue">
  <div class="Slide-content Block--centered">
    <h2 class="Text--bigTitle Color--white">Javier + Laura</h2>
    <h3 class="Slide-contentBox Text--subTitle Color--lightBlue">{% t date %}</h3>
  </div>
</section>

<section class="Slide" id="{% t section.what %}">
  <div class="Slide-content Block--centered Text--centered">
    <h3 class="Text--subTitle Color--theColor">{% t what.title %}</h3>
    <p class="Text--paragraph Color--grey">{% t what.description %}</p>
  </div>
</section>

<section class="Slide Slide--cream" id="{% t section.ceremony %}">
  <div class="Slide-content Block--splittedHor">
    <div class="Block--splittedChild">
      <div class="Map-wrapper Map-wrapper--toLeft Block--centered Block--wider">
        <div class="Map js-churchMap"></div>
      </div>
    </div>
    <div class="Block--splittedChild">
      <div class="Block--centered Block--wider">
        <h3 class="Text--bigTitle Color--darkGrey">{% t section.ceremony %}</h3>
        <p class="Text--paragraph Color--grey">{% t ceremony.description %}</p>
        <p class="Text--paragraph Color--grey u-tSpace">{% t ceremony.address %}</p>
        <p class="Text--annotation u-tSpace--xl">
          <a class="Button Button--theColor" href="https://goo.gl/UlFTUn" target="_blank">{% t ceremony.driving %}</a>
        </p>
        <p class="Text--annotation Color--lightGrey u-tSpace--xl">
          <super>*</super>{% t ceremony.annotation %}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="Slide" id="{% t section.banquet %}">
  <div class="Slide-content Block--splittedHor">
    <div class="Block--splittedChild">
      <div class="Block--centered Block--wider">
        <h3 class="Text--bigTitle Color--darkGrey">{% t section.banquet %}</h3>
        <p class="Text--paragraph Color--grey">{% t banquet.description %}</p>
        <p class="Text--paragraph Color--grey u-tSpace">{% t banquet.address %}</p>
        <p class="Text--annotation u-tSpace--xl">
          <a class="Button Button--theColor" href="https://goo.gl/5l3NWo" target="_blank">{% t banquet.driving %}</a>
        </p>
        <p class="Text--annotation Color--lightGrey u-tSpace--xl"><super>*</super>{% t banquet.annotation %}</p>
      </div>
    </div>
    <div class="Block--splittedChild">
      <div class="Map-wrapper Map-wrapper--toRight Block--centered Block--wider">
        <div class="Map js-banquetMap"></div>
      </div>
    </div>
  </div>
</section>

<section class="Slide Slide--pink Color--cream" id="{% t section.accomodation %}">
  <div class="Slide-content">
  
    <div class="Block--centered Block--full">
      <div class="Block--splittedVer">
        <div class="Text--centered">
          <h2 class="Text--bigTitle">{% t section.accomodation %}</h2>
          <p class="Text--paragraph">{% t accomodation.description %}</p>
        </div>
        <div class="Block--splittedHor u-tSpace--xxl">
          <div class="Block--splittedChild Text--centered">
            <h3 class="Text--subTitle">{% t accomodation.close-church.title %}</h3>
            <ul class="Text--paragraph u-tSpace--l Slide-list">
              <li>*** <a class="Text--link" href="http://www.sidorme.com/es/hoteles/hotel-las-rozas" target="_blank">Hotel Sidorme</a> · {% t accomodation.close-church.away-1 %} {% t accomodation.and-from %} 39€.</li>
              <li class="u-tSpace--m">**** <a class="Text--link" href="http://www.granhotellasrozas.com/en/" target="_blank">Gran Hotel las Rozas</a> · {% t accomodation.close-church.away-2 %} {% t accomodation.and-from %} 57€.</li>
              <li class="u-tSpace--m">**** <a class="Text--link" href="http://www.hotelsefutbol.com/">Hotel Sefutbol</a> · {% t accomodation.close-church.away-3 %} {% t accomodation.and-from %} 55€.</li>
            </ul>
          </div>
          <div class="Block--splittedChild Text--centered">
            <h3 class="Text--subTitle">{% t accomodation.close-banquet.title %}</h3>
            <ul class="Text--paragraph u-tSpace--l Slide-list">
              <li>*** <a class="Text--link" href="http://www.hflorida.com/" target="_blank">Hotel Florida</a> · {% t accomodation.close-banquet.away-1 %} {% t accomodation.and-from %} 75€.</li>
              <li class="u-tSpace--m">*** <a class="Text--link" href="http://www.loslanceros.com/" target="_blank">Los Lanceros</a> · {% t accomodation.close-banquet.away-2 %} {% t accomodation.and-from %} 58€.</li>
              <li class="u-tSpace--m"><a class="Text--link" href="http://www.campingelescorial.com/alojamientos/bungalows-3/" target="_blank">Camping Resort el Escorial</a> · {% t accomodation.close-banquet.away-3 %} {% t accomodation.and-from %} 99€.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="Slide" id="{% t section.transport %}">
  <div class="Slide-content">
    <div class="Block--centered Block--full">
      <div class="Block--splittedVer">
        <div class="Text--centered">
          <h2 class="Color--darkGrey">
            <i class="fa fa-bus fa-1 Text--iconTitle"></i>
            <span class="Text--bigTitle">{% t section.transport %}</span>
          </h2>
          <p class="Text--paragraph Color--grey">{% t transport.description %}</p>
        </div>
        <div class="u-tSpace--xl" style="position:relative">

        <nav class="">
          <button class="js-departureButton is-selected">Ida</button>
          <button class="js-returnButton">Vuelta</button>
        </nav>

          <div class="js-busRouteMap js-departureMap" data-columns="14" data-rows="8" data-cellSize="40" data-textClass="Text--label Color--darkGrey" data-gridNumbers="true" data-grid="false" data-lineWidth="8" style="position: relative; width: 600px; height: 400px;">
            <ul data-color="#8AAFB7">
              <li data-coords="1,2" data-marker="interchange"><a href="http://marca.com">Carabanchel</a></li>
              <li data-coords="4,2" data-marker="station"><a href="">Principe Pío</a></li>
              <li data-coords="7,2" data-marker="station"><a href="">Gran Hotel Las Rozas</a></li>
              <li data-coords="10,4" data-marker="interchange" data-labelPos="n"><a href="">Iglesia Corpus Christi</a></li>
              <li data-coords="13,4" data-marker="station"><a href="">Los Arcos de Fuentepizarro</a></li>
            </ul>

            <ul data-color="#C37D9C" data-label="Ruta 2">      
              <li data-coords="1,6" data-marker="interchange"><a href="">El Escorial</a></li>
              <li data-coords="7,6" data-marker="station"><a href="">Galapagar</a></li>
              <li data-coords="10,4" data-marker="station"></li>
            </ul>
          </div>

          <div class="js-busRouteMap js-returnMap u-hidden" data-columns="14" data-rows="8" data-cellSize="40" data-textClass="Text--label Color--darkGrey" data-gridNumbers="true" data-grid="false" data-lineWidth="8" style="position: relative; width: 600px; height: 400px;">
            <ul data-color="#8AAFB7" data-label="Ruta 1">
              <li data-coords="1,4" data-marker="interchange"><a href="">Los Arcos de Fuentepizarro</a></li>
              <li data-coords="4,2" data-marker="station"><a href="">El Escorial</a></li>
              <li data-coords="10,2" data-marker="station"><a href="">Galapagar</a></li>   
            </ul>

            <ul data-color="#C37D9C" data-label="Ruta 2">      
              <li data-coords="1,4" data-marker="interchange"></li>
              <li data-coords="4,6" data-marker="station"><a href="">Gran Hotel las Rozas</a></li>
              <li data-coords="7,6" data-marker="station"><a href="">Principe Pío</a></li>
              <li data-coords="10,6" data-marker="station"><a href="">Carabanchel</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="Slide Slide--theColor" id="{% t section.gift %}">
  <div class="Slide-content">
    <div class="Block--centered Block--full">
      <div class="Block--splittedVer">
        <div class="Text--centered">
          <h2 class="Text--bigTitle Color--white">{% t section.gift %}</h2>
          <p class="Text--paragraph Color--white">--</p>
        </div>
        <div class="Block--splittedHor u-tSpace--xl">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="Slide" id="{% t section.contact %}">
  <div class="Slide-content">
    <div class="Block--centered Block--full">
      <div class="Block--splittedVer">
        <div class="Text--centered">
          <h2 class="Text--bigTitle Color--darkGrey">{% t section.contact %}</h2>
          <p class="Text--subTitle Color--grey">{% t contact.description %}</p>
        </div>
        <div class="Block--splittedVer u-tSpace--l">

          <div class="Text--centered">
            <form class="Form js-contactForm">
              <input class="Form-textInput" type="email" name="_replyto" placeholder="{% t contact.email %}" />
              <input class="Form-textInput u-tSpace--m" name="name" placeholder="{% t contact.name %}" />
              <textarea class="Form-textarea u-tSpace--m" name="message" placeholder="{% t contact.message %}"></textarea>
              <button class="Button Button--pink u-tSpace--m js-submit" type="submit">{% t contact.send %}</button>
              <button class="Button Button--pink u-tSpace--m u-hidden is-disabled js-loading" type="button" disabled>
                <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
              </button>
              <div class="u-tSpace--m">
                <p class="Text--annotation Color--blue u-hidden js-successMessage">{% t contact.success %}</p>
                <p class="Text--annotation Color--red u-hidden js-errorMessage">{% t contact.error %}</p>
              </div>
            </form>
          </div>

          <div class="Text--centered Color--grey u-tSpace--l">
            <p class="Text--subTitle">{% t contact.doubt %}</p>
            <p class="Text--paragraph">Javier <em class="Color--theColor">❥</em> Laura</p>
            <p class="Text--paragraph">617941614 · 610431183</p>
            <p class="Text--paragraph">
              <a class="Text--annotation Text--link" href="mailto:javiylausep2017@gmail.com">javiylausep2017@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<button class="Nav-goDown js-goNext">
  <i class="fa fa-arrow-down fa-2x"></i>
</button>

{% include footer.html %}

<!-- build:js(app) /js/home.js -->
<!-- Custom JS -->
<script src="/_assets/js/vendor/jquery.js"></script>
<script src="/_assets/js/vendor/leaflet.js"></script>
<script src="/_assets/js/vendor/jquery.subwaymap.js"></script>
<script src="/_assets/js/church-to-banquet-route.js"></script>
<script src="/_assets/js/home.js"></script>
<!-- endbuild -->