<header class="Header">
	<h1 class="Header-logo">
		<a class="Text--logo Color--darkGrey" href="/">
			J<em class="Text--logoHeart Color--blue">❥</em>L
		</a>
	</h1>
	<nav class="Nav Text--option Color--grey">
		<button class="Nav-item js-ceremony">cómo?</button>
		<button class="Nav-item js-ceremony">ceremonia</button>
		<button class="Nav-item js-banquet">banquete</button>
		<button class="Nav-item js-accommodation">hoteles</button>
		<button class="Nav-item js-transport">autobús</button>
		<button class="Nav-item js-gift">regalo?</button>
		<button class="Nav-item js-contact">contacto</button>
	</nav>
	<nav class="Nav Nav--language">
		<a class="Color--lightGrey Text--link is-selected" href="/">ES</a>
		<a class="Color--lightGrey Text--link" href="/en/">EN</a>
	</nav>
</header>