<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{site.title}} · {% t wedding %}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="distribution" content="Global">
  <meta name="author" content="xavijam">
  <meta name="detail" content="{{site.title}} {% t wedding %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  
  <link rel="canonical" href="{{ site.url }}">
  <link href="/favicon.ico" rel="icon">

  <!-- build:css({app,.tmp}) /css/main.css -->
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/reset.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/default.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/fonts.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/vendor/pure.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/vendor/grids-responsive.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/vendor/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/utils.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/text.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/colors.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/header.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/form.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/content.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/navigation.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/map.css" rel="stylesheet" />
  <!-- endbuild -->

  <link href="atom.xml" rel="alternate" title="1504972800" type="application/atom+xml">
</head>