<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Javi ❥ Lau · wedding</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="distribution" content="Global">
  <meta name="author" content="xavijam">
  <meta name="detail" content="Javi ❥ Lau wedding">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  <meta name="DC.title" content="xavijam">
  <meta name="geo.region" content="ES-M">
  <meta name="geo.placename" content="Madrid">
  <meta name="geo.position" content="40.4166909, -3.7003454">
  <meta name="ICBM" content="40.4166909, -3.7003454">

  <meta property="og:title" content="Javi ❥ Lau · wedding"/>
  <meta property="og:description" content=""/> 
  <meta property="og:type" content="Personal webpage"/>
  <meta property="og:url" content="http://xavij.am/1504972800" />
  <meta property="og:image" content=""/>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@xavijam">
  <meta name="twitter:title" content="Javi ❥ Lau · wedding">
  <meta name="twitter:description" content="">
  <meta name="twitter:creator" content="@xavijam">
  <meta name="twitter:image:src" content="">
  <meta name="twitter:domain" content="xavij.am">
  
  <link rel="canonical" href="http://xavij.am/1504972800">
  <link href="/favicon.ico" rel="icon">

  <!-- build:css({app,.tmp}) /css/main.css -->
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/reset.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/default.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/fonts.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/vendor/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/vendor/leaflet.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/utils.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/block.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/text.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/header.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/navigation.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/slide.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/map.css" rel="stylesheet" />
  <!-- endbuild -->
  
  <!-- endbuild -->
  <link href="atom.xml" rel="alternate" title="xavijam" type="application/atom+xml">
</head>