<section class="slide" id="{{ t 'accomodation.key' }}" data-background="#4A4A4A">
  <div class="content">
    <div class="content-item">Slide 6</div>
    <div class="content-item">paco</div>
  </div>
</section>