<section class="slide" id="{{ t 'banquet.key' }}" data-background="#FA8072">
  <div class="content">
    <div class="content-item">Slide 4</div>
    <div class="content-item">paco</div>
  </div>
</section>