<section class="slide" id="{{ t 'contact.key' }}" data-background="blue">
  <div class="content">
    <div class="content-item">Slide 8</div>
    <div class="content-item">paco</div>
  </div>
</section>