<section class="slide" id="{{ t 'honeymoon.key' }}" data-background="#FFF">
  <div class="content">
    <div class="content-item">Slide 7</div>
    <div class="content-item">paco</div>
  </div>
</section>