<ul class="RouteList">
  {{#each routePoints}}
    {{#ifCond route '==' ../selectedRoute}}
      <li class="RouteList-item {{#ifCond selected '==' true }} is-selected {{/ifCond}}">
        <span class="RouteList-itemTime">{{time}}</span>


        {{#ifCond link '!=' '' }}
          <a href="{{link}}" target="_blank"
        {{/ifCond}}
        {{#ifCond link '==' '' }}
          <span
        {{/ifCond}}

          class="RouteList-itemPoint">

        {{#ifCond link '!=' '' }}
          </a>
        {{/ifCond}}
        {{#ifCond link '==' '' }}
          </span>
        {{/ifCond}}


        {{#ifCond slideURL '!=' '' }}
          <a href="{{slideURL}}" target="_blank" class="RouteList-itemName Text Text-item Color Color--link">
        {{/ifCond}}
        {{#ifCond slideURL '==' '' }}
          <p class="RouteList-itemName Text Text-item">
        {{/ifCond}}

        {{place}}

        {{#ifCond slideURL '!=' '' }}
          </a>
        {{/ifCond}}
        {{#ifCond slideURL '==' '' }}
          </p>
        {{/ifCond}}
      </li>
    {{/ifCond}}
  {{/each}}
</ul>