{{#each items}}
  {{#ifCond category '==' ../selectedCategory}}
    <li class="RouteList-item {{#ifCond selected '==' true }} is-selected {{/ifCond}}">
      <span class="RouteList-itemTime">{{data}}</span>

      {{#ifCond link '!=' '' }}
        <a href="{{link}}" target="_blank"
      {{/ifCond}}
      {{#ifCond link '==' '' }}
        <span
      {{/ifCond}}
        class="RouteList-itemPoint">
      {{#ifCond link '!=' '' }}
        </a>
      {{/ifCond}}
      {{#ifCond link '==' '' }}
        </span>
      {{/ifCond}}

      {{#ifCond link '!=' '' }}
        <a href="{{ link }}" target="_blank" class="RouteList-itemName Text Text-item Color Color--link">
      {{/ifCond}}
      {{#ifCond link '==' '' }}
        <p class="RouteList-itemName Text Text-item">
      {{/ifCond}}
      {{name}}
      {{#ifCond link '!=' '' }}
        </a>
      {{/ifCond}}
      {{#ifCond link '==' '' }}
        </p>
      {{/ifCond}}
    </li>
  {{/ifCond}}
{{/each}}