<div class="Slide-content">
  <i class="Color fa fa-bus fa-lg"></i>
  <h2 class="Color Text-title u-tSpace--xl">
    {{ t 'transport-going.title' }}
    <super class="Text-subTitle">
      ({{ t 'transport-going.sub-title' }})
    </super>
  </h2>
  <p class="Slide-contentParagraph Text Color Text-paragraph u-tSpace--xl">{{{ t 'transport-going.desc' }}}</p>
  <form>
    <input type="text" value="" placeholder="{{ t 'transport-going.choose'}}" />
  </form>
</div>