<div class="Slide-content Slide-content--centered">
  <div class="Slide-contentItem">
    <i class="Slide-icon Color fa fa-bus fa-lg"></i>
  </div>
  <h2 class="Color Text-title Slide-title">
    {{ t 'transport-going.title' }}
    <super class="Text-subTitle">
      ({{ t 'transport-going.sub-title' }})
    </super>
  </h2>
  <p class="Slide-contentParagraph Text Color Text-paragraph u-tSpace--xl">{{{ t 'transport-going.desc' }}}</p>
</div>