<section class="slide" id="{{ t 'transport-going.key' }}" data-title="{{ t 'transport-going.title' }}" data-background="#E2AB49">
  <div class="content">
    <div class="content-item">Slide 2</div>
    <div class="content-item">paco</div>
  </div>
</section>